@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
$dark-overlay : rgba(0,0,0,0.7);
body{
    font-family: 'Poppins','sans-serif';
}
a{
    text-decoration: none !important;
}
h4{
    color: white;
}

.navbar-nav{
    margin-left: auto !important;
}
.carousel-item{
    height: 450px;
}
.carousel-img1{
    background-image: url(../img/image1.jpeg);
    background-size: cover;
}
.carousel-img2 {
    background-image: url(../img/image2.jpeg);
    background-size: cover;
}
.carousel-img3 {
    background-image: url(../img/image2.jpeg);
    background-size: cover;
}
#home-icon{
    min-height: 200px;
}
#get-started{
    position: relative;
    min-height: 250px;
    background-size: cover;
    background-image: url(../img/bg1.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;

    .dark-overlay{
        background: $dark-overlay;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}
#video-section{
     position: relative;
     min-height: 250px;
     background-size: cover;
     background-image: url(../img/people.jpeg);
     background-repeat: no-repeat;
     background-attachment: fixed;

     .dark-overlay {
         background: $dark-overlay;
         position: absolute;
         left: 0;
         top: 0;
         width: 100%;
         height: 100%;
     }
}
.text{
    color:white;
}
#gallery{
    img{
        min-height: 200px;
    }
}
// about-page starts

#about-header{
background-image: url(../img/image1.jpeg);
background-repeat: no-repeat;
background-size: cover;
height: 250px;
background-attachment: fixed;
}
#about{
    img{
        height: 250px;
        width:250px;
        border-radius: 50%;
        margin-left: 25%;
    }
}
#icon-box{
    i {
        font-size: 35px;
    }
}

// service page starts
#service-header {
    background-image: url(../img/image2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    background-attachment: fixed;
}









@media(max-width:470px){
    .carousel-caption{
        margin-bottom: 0px;
        padding-bottom: 0px;

        h2{
            font-size: 25px;
        }
    }
    .text-grup{
        margin-top: 20px;
        padding: 0px !important;
    }
    #about{
        img{
            margin-bottom:20px;
            margin-left: 30px !important;
        }
    }
}
@media(max-width:767px){
    .img{
        margin-bottom: 20px;
    }
    .reverse{
        flex-direction: column-reverse;
    }
    #gallery{
        img{
            margin-bottom: 5px;
        }
    }
    .card{
        margin-bottom: 20px;
    }
}